* {
    font-size: 18pt;
}
body {
    overflow: hidden;
}
.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.header .header__navbar {
    width: 90vw;
}
.header .header__navbar .alinks-group {
    width: 90vw;
    display: flex;
    justify-content: space-around;
}
.main {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accent-form-wrapper, .wrong-answer {
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 10px 2px #000;
    padding: 3vh 3vw;
}
.accent-form-wrapper .answer-field {
    height: 5vh;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #5555ff;
    color: #fff;
    margin-bottom: 3vh;
}
.answer-field::placeholder {
    color: #fff8;
}
.btn {
    text-decoration: none;
}
.accent-form-wrapper .send-form-field, .btn-update {
    padding: 1vh 2vw;
    background-color: #5555ff;
    border-radius: 25px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 0 #000;
    transition: box-shadow .3s;
}
.send-form-field:focus {
    box-shadow: 0 0 7px 1px #000;
}